.nav-menu {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .nav-menu li {
    float: left;
  }
  .nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav-menu li a:hover {
    background-color: #111;
  }

  #blue-team li {
    list-style: none; /* remove bullets or numbers */
  }

  #red-team li {
    list-style: none; /* remove bullets or numbers */
  }

  table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  
  .blue {
    background-color:rgb(52, 103, 235);
    font-weight: bold;
  }

  .red {
    background-color: rgb(235, 52, 52);
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }